<footer class="bg-[#ab3b00] text-white py-12 px-8">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-12 text-center md:text-left">
    
    <div>
      <h3 class="text-2xl font-bold mb-4"><span class="text-[#ffac80]">Flor's</span> Portfolio</h3>
      <p class="text-white mb-6">
        Thank you for visiting my personal portfolio website. Connect with me over socials.
      </p>
      <div class="flex justify-center md:justify-start space-x-4">
        <a href="https://github.com/flor-lafuente" target="_blank" rel="noopener noreferrer" class="text-white hover:text-[#ffac80] transition-colors duration-300">
          <span class="text-4xl">
            <i class="fab fa-github"></i>
          </span>
        </a>
        <a href="https://www.linkedin.com/in/florencia-y-lafuente" target="_blank" rel="noopener noreferrer" class="text-white hover:text-[#ffac80] transition-colors duration-300">
          <span class="text-4xl">
            <i class="fab fa-linkedin"></i>
          </span>
        </a>
        </div>
    </div>
    
    <div>
      <h3 class="text-xl font-bold mb-4">Quick Links</h3>
      <ul class="space-y-2">
        <li><a href="#home" class="text-white hover:text-[#ffac80] transition-colors duration-300">Home</a></li>
        <li><a href="#about" class="text-white hover:text-[#ffac80] transition-colors duration-300">About</a></li>
        <li><a href="#skills" class="text-white hover:text-[#ffac80] transition-colors duration-300">Skills</a></li>
        <li><a href="#education" class="text-white hover:text-[#ffac80] transition-colors duration-300">Education</a></li>
        <li><a href="#experience" class="text-white hover:text-[#ffac80] transition-colors duration-300">Experience</a></li>
        <li><a href="#contact" class="text-white hover:text-[#ffac80] transition-colors duration-300">Contact</a></li>
      </ul>
    </div>
    
    <div>
      <h3 class="text-xl font-bold mb-4">Contact Info</h3>
      <ul class="space-y-2 text-white">
        <li class="flex items-center justify-center md:justify-start">
          <span class="mr-2 text-[#ffac80]">
            <i class="fas fa-envelope"></i>
          </span>
          <span>flory.lafuente&#64;gmail.com</span>
        </li>
        <li class="flex items-center justify-center md:justify-start">
          <span class="mr-2 text-[#ffac80]">
            <i class="fas fa-phone"></i>
          </span>
          <span>+54 9 11 4415-7268</span>
        </li>
        <li class="flex items-center justify-center md:justify-start">
          <span class="mr-2 text-[#ffac80]">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <span>Buenos Aires, Argentina</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-8 pt-8 border-t border-[#ffac80] text-center text-[#ffac80]">
    <p>
      &copy; {{ currentYear }} Made with ❤️ by Florencia Y Lafuente.
    </p>
  </div>
</footer>