<section id="skills" class="py-16 md:py-24 px-8 bg-[#ffc4a8]">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-8">
      My <span class="text-[#ab3b00]">Skills</span>
    </h2>
    
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/angular.svg" alt="Angular Logo" class="h-12 w-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Angular</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/typescript.svg" alt="Typescript Logo" class="h-12 w-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">TypeScript</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/html5.svg" alt="HTML5 Logo" class="h-12 w-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">HTML5</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/css3.svg" alt="CSS3 Logo" class="h-12 w-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">CSS3</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/tailwindcss.svg" alt="Tailwind Logo" class="h-12 w-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Tailwind CSS</h3>
      </div>
      
      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/bootstrap.png" alt="Bootstrap Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Bootstrap</h3>
      </div>
      
      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/firebase.png" alt="Firebase Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Firebase</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/nodejs.svg" alt="NodeJS Logo" class="h-12 w-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">NodeJS</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/git.svg" alt="Git Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Git</h3>
      </div>
      
      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/github.svg" alt="Git Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Github</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/clean.png" alt="Clean Architecture Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Clean Architecture</h3>
      </div>
      
      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/scrum.png" alt="SCRUM Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">SCRUM</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/hostinger.webp" alt="Hostinger Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Hostinger</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/netlify.webp" alt="Netlify Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Netlify</h3>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/figma.svg" alt="Figma Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Figma</h3>
      </div>
      
      <div class="bg-white p-6 rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div class="mb-4">
          <img src="assets/img/jira.svg" alt="Jira Logo" class="h-12 mx-auto">
        </div>
        <h3 class="text-xl font-semibold text-gray-800">Jira</h3>
      </div>
      
    </div>
  </div>
</section>