<section id="education" class="py-16 md:py-24 px-8 bg-white">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-8">
      My <span class="text-[#ab3b00]">Education</span>
    </h2>
    
    <div class="flex flex-col items-center">
      <div class="relative w-full flex flex-col md:flex-row items-center justify-between my-4 p-6 bg-gray-100 hover:bg-[#ffd5bf] rounded-lg shadow-md">
        <div class="md:w-1/4 text-sm text-gray-500 mb-2 md:mb-0">
          2025
        </div>
        <div class="md:w-3/4 text-center md:text-left">
          <h3 class="text-xl font-semibold text-gray-800">Develop with AI Certificate</h3>
          <p class="text-gray-600">Big School</p>
          <p class="text-gray-500 text-sm mt-1">How to build an application with AI.</p>
        </div>
      </div>
      <div class="relative w-full flex flex-col md:flex-row items-center justify-between my-4 p-6 bg-gray-100 hover:bg-[#ffd5bf] rounded-lg shadow-md">
        <div class="md:w-1/4 text-sm text-gray-500 mb-2 md:mb-0">
          2022-2025
        </div>
        <div class="md:w-3/4 text-center md:text-left">
          <h3 class="text-xl font-semibold text-gray-800">Angular Developer Full Courses</h3>
          <p class="text-gray-600">Dev Talles</p>
          <p class="text-gray-500 text-sm mt-1">Angular Framework from scratch, starting with version 13 and continuing with the latest. Learn best practices for creating efficient and scalable applications.</p>
        </div>
      </div>
      <div class="relative w-full flex flex-col md:flex-row items-center justify-between my-4 p-6 bg-gray-100 hover:bg-[#ffd5bf] rounded-lg shadow-md">
        <div class="md:w-1/4 text-sm text-gray-500 mb-2 md:mb-0">
          2021-2022
        </div>
        <div class="md:w-3/4 text-center md:text-left">
          <h3 class="text-xl font-semibold text-gray-800">Full Stack Developer Bootcamp</h3>
          <p class="text-gray-600">Digital House</p>
          <p class="text-gray-500 text-sm mt-1">Web Full Stack Developer.</p>
        </div>
      </div>
      <div class="relative w-full flex flex-col md:flex-row items-center justify-between my-4 p-6 bg-gray-100 hover:bg-[#ffd5bf] rounded-lg shadow-md">
        <div class="md:w-1/4 text-sm text-gray-500 mb-2 md:mb-0">
          2013 - 2015
        </div>
        <div class="md:w-3/4 text-center md:text-left">
          <h3 class="text-xl font-semibold text-gray-800">Technical Bachelor in Computing and Digital Communication Sciences</h3>
          <p class="text-gray-600">Escuelas Técnicas ORT</p>
          <p class="text-gray-500 text-sm mt-1">Emphasis on Software Development and Databases.</p>
        </div>
      </div>
      
      </div>
  </div>
</section>