<section id="about" class="py-16 md:py-24 px-8 bg-white">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-8 md:gap-12">
    <div class="md:w-1/3 flex justify-center fade-in">
      <img src="assets/img/PP_Linkedin.webp" alt="Tu foto de perfil" class="rounded-lg shadow-lg w-64 h-64 md:w-80 md:h-80 object-cover">
    </div>

    <div class="md:w-2/3 text-center md:text-left fade-in animation-delay-300">
      <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-4">
        About <span class="text-[#ab3b00]">Me</span>
      </h2>
      <p class="text-gray-700 text-lg mb-4">
        Hello again! My name is <span class="font-semibold">Florencia</span> and I'm a software developer from Buenos Aires, Argentina. I'm passionate about creating efficient and modern web applications. I specialize in Angular and I'm always learning new technologies.
      </p>
      <p class="text-gray-700 text-lg mb-4">
        My passion lies in frontend development, especially with technologies like <span class="font-semibold">Angular</span> and <span class="font-semibold">Tailwind CSS</span>. I love solving complex problems and collaborating in teams to create innovative solutions.
      </p>
      <p class="text-gray-700 text-lg">
        Beyond code, I enjoy <span class="font-semibold">reading, playing sports, and hiking</span>, which helps me keep my mind fresh and creative. I'm always looking for new challenges and opportunities to keep learning. I would be delighted to connect with you!
      </p>
    </div>
  </div>
</section>